
body {
    background-color: white;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
    font-size: 18px;
    line-height: 25px;
    padding-left:  20px;
    padding-right: 20px;
}

p {
    display: block;
    position: relative;
    text-align: left;
}

a{
    text-decoration: none;
    color: navy;
}

a:active, a:hover{
    border-bottom: 2.5px solid gold;
}

.header {
    padding-bottom: 25px;
    display: block;
}

.header img {
    height: 30vh;
    width: 35vh;
}

.h_brian {
    display: block;
    font-size: 26px;
    position: relative;
    padding-top: 5px;
}

.h_intro {
    margin: 0 auto; /* makes the div centered */
    width: 65%;
    font-size: 18px;
    font-weight: normal;
    font-family: fantasy;
}

.h_general {
    display: block;
    font-family: 'Gentium Basic', serif;
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.current{
	text-transform: uppercase;
    color: rgb(227, 194, 28);
}

.current img {
    width: 3vh;
    height: 2vh;
}


.navy_container {
    display: grid;
    padding-top: 10px;
    grid-template-columns: 1fr;
    align-items: center;
}

.navy_container img{
    width: 35vh;
    height: 35vh;
    align-self: stretch;
    justify-self: center;
}

.container_flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.container_flexbox img{
    width: 50%;
}

.container_grid {
    display: grid;
    padding-top: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* grid-template-columns: 2fr 2fr 2fr 1.5fr; */
    grid-template-columns: 1fr;
    align-items: center;
}

.container_grid img{
    width:100%;
    align-self: stretch;
}

a.skip{
	position: absolute;
	left: -99999px;
    top: 0px;
    display: block;
}

a.skip:focus{
	position: relative;
    left: 0px;
    width: 15%;
    margin: 0 auto;
}

.p_general{
    margin: 0 auto; /* makes the div centered */
    width: 75%;
    padding-bottom: 15px;
}

.p_index {
    margin: 0 auto; /* makes the div centered */
    width: 75%;
    text-align: center;
}

.ul_edu{
    margin: 0 auto;
    padding: 0px;
}

.li_edu {
    margin: 0 auto; /* makes the div centered */
    width: 20%;
    text-align: left;
    list-style-type: square;
}

.p_contact {
    margin: 0 auto; /* makes the div centered */
    width: 75%;
    padding-bottom: 15px;
    text-align: center;
}

.p_links {
    font-size: 20px;
    margin: 0 auto; /* makes the div centered */
    width: 75%;
}

.p_links img {
    width: 3%;
    align-self: fill;
}

.foot {
    padding: 15px;
}